#projects {
    height: calc(100vh - 3rem);
    width: 100vw;
    max-width: 75rem;
    margin: auto;
    padding: 3rem 1rem;
    margin-top: -100px;
    margin-bottom: 10px;
    box-sizing: border-box;
}

.projContent {
    padding: 2rem;
    font-size: 2rem;
    font-weight: 300;
    width: 100%;
}

.mobileproj {
    display:none;
}

.proj {
    font-weight: bold;
    color: rgb(211, 173, 208);
    font-size: 2.2rem;
    padding: 10px;
}

/* project cards */
.card-wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    justify-content: center;
    max-width: 100px;
    margin: 50 auto;
}

.card {
    width: 20rem;
    height: 22rem;
    border-radius: 25px;
    background-color: rgb(35, 28, 28);
    color: white;
    border-width: 2px;
    border-color: #424242;
    border-radius: 5%;
    text-align: left;
    padding: 2rem 2rem;
    transition: all 0.3s ease;
}

.card:hover {
    margin-top: -7px;
    margin-bottom: 7px;
    filter: brightness(200%);
}

.name {
    margin-top: 20px;
    font-size: 18px;
    font-weight: 500;
    color: rgb(221, 217, 220);
    font-weight: bold;
}

.description {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 14px;
    color: gray;
    padding: 1rem 0;
    text-align: left;
}


.github-icon {
    height:20px;
    filter: invert(100%) sepia(0%) saturate(7436%) hue-rotate(161deg) brightness(120%) contrast(114%);
    
}

.mark-icon {
    height:30px;
    filter: invert(96%) sepia(55%) saturate(6147%) hue-rotate(191deg) brightness(87%) contrast(88%);
}


.box{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}

/* mobile */

@media (max-width: 960px) {
    .proj{
        font-size: 30px;
        white-space: nowrap;
        font-weight: bold;
        margin-left: -30px;
    }

    .mobileproj {
        display:contents;
        color: gray;
        font-size: 15px;
    }

    .projContent {
        width: 10px;
        height: 10px;
        margin-top: 350px;
    }

    .description {
        margin-top: 10px;
        width: 400px;
        font-size: 15px;
        padding: 0rem 2rem;
        margin-left: -50px;
    }

    .name {
        font-size: 19px;
        white-space: nowrap;
        margin-left: -20px;
    }

    .github-icon{
        margin-left: 30px;
        margin-bottom: -50px;
    }

    .card-wrapper {
       display:none;
    }
}
