#intro {
    height: calc(100vh - 3rem);
    width: 100vw;
    max-width: 75rem;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    padding: 3rem 1rem;
}

.introContent {
    padding: 2rem;
    font-size: 2rem;
    font-weight: 300;
    width: 50%;
    margin-top: -15px;
}

.introPara {
    text-align: left;
    color: gray;
    font-size: 18px;
    padding: 2rem 1rem;
}

.about {
    font-weight: bold;
    color: rgb(211, 173, 208);
    font-size: 2.2rem;
    padding: 10px 10px;
}

.dash {
    color: gray;
}

.img {
    object-fit: cover;
    max-width: 70%;
    max-height: 90%;
    margin-left: 100px;
    border-radius: 25px;
    width: 500px;
    height: 500px;

}

.img-mobile{
    display:none;
}

.raise {
    margin-top: -30px;
}


/* skills */

.section1 {
    font-size:13px;
    color: gray;
    vertical-align: middle;
    display: inline-block;
    padding: 1rem 3rem;
}


.ul {
    list-style-type: circle;
    font-weight: bold;
}

li {
    margin-bottom: 13px;
    font-size: 14px;
}


/* mobile */
@media (max-width: 550px){
    .about {
        font-size: 30px;
        margin-top: -30px;
    }

    .introPara{
        font-size: 13px;
        padding: 1rem 0rem;
    }

    .img{
        margin-left: -10px;
        max-width: 80%;
        max-height: 70%;
        margin-top: 40px;
    }   

    .introContent {
        width: 100%; 
    }

}

@media (max-width: 670px){
    .introContent {
        width: 100%;   
    }

    .introPara{
        margin-top: 20px;
        font-size: 15px;
        padding: 1rem 0rem;
    }

    .img{
        display:none;
    }

    .img-mobile{
        /* object-fit: cover;
        display:flex;
        justify-content: center;
        align-items: center;
        max-width: 70%;
        max-height: 90%;
        border-radius: 25px;
        margin-left: 105px;
        margin-top: 30px;
        width: 300px;
        height: 300px; */
        display: grid;
        place-items: center;
        object-fit: cover;
        height: 15rem;
        width: 15rem;
        border-radius: 13px;
        margin:auto;
        margin-top: 20px;
    }
}

@media (max-width: 960px){
    .introContent {
        width: 100%;   
    }

    .introPara{
        font-size: 15px;
    }

    .img{
        margin-left: -10px;
        max-width: 90%;
        max-height: 80%;
        margin-top: 40px;
    }
}