#footer {
    width: 100%;
    max-width: 75rem;
    margin: 0 auto;
    padding: 1rem 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
}

.contact-links {
    display: flex;
    gap: 10px;
    align-items: center;
}

.footer-text {
    flex-grow: 1;
    text-align: center;
    color: gray;
    font-size: 13px;
}

.contact {
    width: 15px;
    height: 15px;
    filter: brightness(0) saturate(100%) invert(94%) sepia(12%) saturate(956%) hue-rotate(61deg) brightness(97%) contrast(94%);
}

@media (max-width: 960px) {
    #footer {
        flex-direction: column;
        gap: 0.5rem;
    }

    .contact-links {
        justify-content: center;
    }

    .footer-text {
        text-align: center;
    }
}
