#text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    text-align: center;
  }
  
  .flower {
    object-fit: cover;
    height: 25rem;
    width: 25rem;
    margin-bottom: 1rem;
    filter: brightness(200%);
  }
  
  .highlight-name {
  color: #b1efb8;
}

  
  .text {
    font-size: 3rem;
    font-weight: 700;
    margin-top: -10px;
  }
  
  .cursor {
    display: inline-block;
    width: 0.1em;
    background-color: black;
    animation: blink 1s step-end infinite;
    border-radius: 30px;
  }

  @keyframes blink {
    0% { opacity: 1; }
    50% { opacity: 0; }
    100% { opacity: 1; }
  }
  .highlight {
    color: #b1efb8;
  }

  .textPara {
    font-size: 1.4rem;
    padding: 2rem 3rem;
    color: gray;
  }



/* mobile */
@media (max-width: 960px){
  .flower{
    height: 20rem;
    width: 20rem;
    margin-top: 15px;
  }

  .text {
    font-size: 3rem;
    font-weight: 700;
  }
}

/* mobile menu */
@media (max-width: 960px){
  .text {
    font-size: 3rem;
    margin-left: 10px;
    margin-top: 5px;
  }
}

@media (max-width: 960px){
  .flower{
    height: 20rem;
    width: 20rem;
    margin-top: 15px;
  }

  .text {
    font-size: 3rem;
    font-weight: 700;
  }
  
  .textPara {
    font-size: 1.0rem;
    padding: 2rem 3rem;
    color: gray;
  }
}

/* mobile menu */
@media (max-width: 960px){
  .text {
    font-size: 1.8rem;
    margin-left: 10px;
    margin-top: -20px;
  }
}